<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hi, <%= @username %></h1>
  <h2>Welcome to OnMyPlate</h2>
  <p><%= link_to 'Please click this link to confirm your email', 'http://localhost:9000/#/' %></p>
  <p>Thank You</p>
</body>
</html>